.container {
    min-height: 100vh;
    background-color: $rainy;
}

.table { 
    border-collapse: collapse;
    width: 35%;
    margin: 16px 7.5%;

    tr {
        background-color: $light;
    }

    tr:nth-of-type(odd) { 
        background: $gold; 
    }

    th { 
        background: $off; 
        color: $light; 
        font-weight: bold; 
    }

    td, th { 
        padding: 6px; 
        border: 1px solid $rainy;
        word-wrap: break-word;
        
        &:nth-of-type(3), &:nth-of-type(4)  {
            text-align: center;
            vertical-align: middle;
        }
    }

    @media only screen and (max-width: $mobile) {
        width: 95%;
        margin: 0;
        margin-bottom: 16px;
    }
}

.modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;

    .modal__container {
        background-color: $light;
        position: absolute;
        width: 30%;
        padding-bottom: 16px;
        border-radius: 5px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        @media only screen and (max-width: $mobile) {
            width: 85%;
        }

        .modal__head {
            border-bottom: 2px solid $rainy;
            padding: 8px 16px;
            margin-bottom: 16px;
        }

        .modal__body {
            text-align: center;
        }
    }
}

.nav {
    background-color: $purple;
    padding: 8px 16px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.125);

    .nav__title {
        font-weight: bold;
        font-size: 24px;
    }

    .nav__list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style: none;
        padding: 0 16px;

        a {
            text-decoration: none;
            color: $light;
        }

        li {
            flex-grow: 1;
        }

        @media only screen and (max-width: $mobile) {
            flex-direction: column;
            align-items: flex-start;
            padding: 0 0;
        }
    }
}

.small {
    line-height: 24px;
}

.button {
    padding: 8px 16px;
    border: none;
    background-color: $off;
    color: $light;
    font-weight: 600;
    transition: 0.3s;

    &:hover {
        cursor: pointer;
        background-color: $off;
    }
}

.anchor {
    text-decoration: none;
    color: $bluu;
    display: block;
    font-size: small;
    margin: 16px 0;
}

.clicable {
    &:hover {
        cursor: pointer;
    }
}