.container {
    min-height: 100vh;
    background-color: $rainy;
}

.table { 
    border-collapse: collapse;
    width: 35%;
    margin: 16px 7.5%;

    tr {
        background-color: $light;
    }

    tr:nth-of-type(odd) { 
        background: $gold; 
    }

    th { 
        background: $off; 
        color: $light; 
        font-weight: bold; 
    }

    td, th { 
        padding: 6px; 
        border: 1px solid $rainy;
        word-wrap: break-word;
        
        &:nth-of-type(3), &:nth-of-type(4)  {
            text-align: center;
            vertical-align: middle;
        }
    }

    @media only screen and (max-width: $mobile) {
        width: 95%;
        margin: 0;
        margin-bottom: 16px;
    }
}

.aside {
    width: 250px;
    max-height: calc(100vh - 45px);
    background-color: $purple;
    position: relative;

    @media only screen and (max-width: $mobile) {
        width: 100%;
    }

    .aside__expand {
        background-color: rgba(0, 0, 0, 0.7);
        text-align: center;
        display: block;
        color: $light;

        @media only screen and (min-width: $mobile) {
            display: none;
        }
    }

    .aside__bottom {
        position: absolute;
        bottom: 0;
        width: 100%;

        @media only screen and (max-width: $mobile) {
            position: relative;
        }
    }

    .product {
        padding: 8px;
        color: $light;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);

        .product__description {
            margin: 4px 0;
            display: flex;
            flex-direction: row;
            text-transform: capitalize;
            justify-content: space-between;
            color: $rainy;
        }

        .product__title {
            display: flex;
            justify-content: space-between;
            text-transform: capitalize;

            span {
                font-size: 0.7rem;

                &:hover {
                    cursor: pointer;
                    opacity: 0.6;
                }
            }
        }
    }
}

.modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;

    .modal__container {
        background-color: $light;
        position: absolute;
        width: 30%;
        padding-bottom: 16px;
        border-radius: 5px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        @media only screen and (max-width: $mobile) {
            width: 90%;
        }

        .modal__head {
            border-bottom: 2px solid $rainy;
            padding: 8px 16px;
            margin-bottom: 16px;
        }

        .modal__body {
            text-align: center;
        }
    }
}

.nav {
    background-color: $purple;
    padding: 8px 16px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.125);

    .nav__title {
        font-weight: bold;
        font-size: 24px;
    }

    .nav__list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style: none;
        padding: 0 16px;

        a {
            text-decoration: none;
            color: $light;
        }

        li {
            flex-grow: 1;
        }

        @media only screen and (max-width: $mobile) {
            flex-direction: column;
            align-items: flex-start;
            padding: 0 0;
        }
    }
}

.small {
    line-height: 24px;
}

.button {
    padding: 8px 16px;
    border: none;
    background-color: $off;
    color: $light;
    font-weight: 600;
    transition: 0.3s;

    &:hover {
        cursor: pointer;
        background-color: $off;
    }
}

.anchor {
    text-decoration: none;
    color: $bluu;
    display: block;
    font-size: small;
    margin: 16px 0;
}

.clicable {
    &:hover {
        cursor: pointer;
    }
}

.about {
    display: flex;
    flex-direction: row;
    padding: 16px 8px;
    gap: 16px;

    section {
        display: flex;
        flex-direction: column;
        flex-basis: 65%;
    }

    .form {
        max-height: 500px;

        button {
            width: 100%;
        }
    }

    @media only screen and (max-width: $mobile) {
        flex-direction: column;

        .form {
            width: 100%;
        }
    }
}

.content {
    background-color: $light;
    padding: 32px;
    border-radius: 5px;
    box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.125);
    margin-bottom: 16px;
    position: relative;

    .content__title {
        margin-bottom: 8px;
    }

    .content__img {
        text-align: center;
        padding: 32px;

        img {
            max-width: 50%;

            @media only screen and (max-width: $mobile) {
                max-width: 95%;
            }
        }

        figcaption {
            max-width: 50%;
            background-color: $rainy;
            font-size: small;
            margin: 0 auto;
            color: $purple;
            padding: 8px;

            @media only screen and (max-width: $mobile) {
                max-width: 95%;
            }
        }
    }

    ul {
        list-style: none;
        padding: 8px;
    }

    @media only screen and (max-width: $mobile) {
        width: 100%;
    }
}

.toast {
    visibility: hidden;
    min-width: 250px;
    font-size: 0.85rem;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    padding-right: 50px;
    position: fixed;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
}

.loader {
    color: #ffffff;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    transform: translateZ(0);
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes round {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  