.holder--table {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 32px;
    width: 100%;

    @media only screen and (max-width: $mobile) {
        flex-direction: column;
        align-items: center;
    }
}

.holder--code {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 32px;

    input {
        width: 10%;
        text-align: center;
        margin: 0 5px;
        appearance: textfield;

        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

    }
}

.holder--404 {
    width: 85%;
    margin: 0 auto;
    text-align: center;

    img {
        width: 40%;
    }
}

.holder--list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: calc(100vh - 45px);

    @media only screen and (max-width: 620px) {
        flex-direction: column;
    }
}

.holder--product {
    max-height: calc(100% - 63px);
    overflow-y: auto;
    scrollbar-width: none;

    @media only screen and (max-width: $mobile) {
        display: none;
    }
}

.holder--product::-webkit-scrollbar-track {
    appearance: none;
}