.text--center {
    text-align: center;
}

.text--right {
    text-align: right;
}

.text--danger {
    color: $bloody;
}

.text--light {
    color: $light;
}

.text--bold {
    font-weight: bold;
}

.text--shadow {
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
}

.text--small {
    font-size: small;
}

.button--blue {
    background-color: $bluu;
}

.button--purple {
    background-color: $purple;
}

.button--red {
    background-color: $bloody;
}

.button--small {
    padding: 8px 16px;
}

.button--large {
    padding: 16px 32px;
}

.button--full {
    width: 100%;
}

.d--flex {
    display: flex;
}

.justify--evenly {
    justify-content: space-evenly;
}

.slide--down {
    display: block;
}

.toast--danger {
    visibility: visible;
    animation: fadein 0.5s ease-in, fadeout forwards 0.5s 2.5s;
    background-color: $bloody;
    background-image: url('../images/danger.png');
    background-repeat: no-repeat;
    background-size: 32px;
    background-position-x: 95%;
    background-position-y: 50%;
}

.toast--success {
    visibility: visible;
    animation: fadein 0.5s ease-in, fadeout forwards 0.5s 2.5s;
    background-color: $hope;
    background-image: url('../images/check.png');
    background-repeat: no-repeat;
    background-size: 32px;
    background-position-x: 95%;
    background-position-y: 50%;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}